<ion-header class="header">
  <ion-toolbar class="header" color="#dc2377">
    <ion-title>Lion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <img class="logo" src="../../assets/img/logo.app.png" alt="logo" width="90" height="80">
  
     <ion-item class="login" >
        <ion-label position="floating">Usuário</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
    
  
    
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
  
   
      <ion-button class="btn" expand="block" padding color="tertiary" (click)="login()">Entrar</ion-button>
</ion-content>




